#standardweb {
	font-family:Arial;
	background-color:#ffffcc;
	background-image:url("https://raw.githubusercontent.com/Spectrum-Edge/speconline/master/images/blep.jpg");
	background-size: 100%;
}

#navbar {
	font-family:verdana;
	font-style:bold;
	color:#66ff99;
	border:5px solid;
	border-color:#dfdfb6;
	background-image: url("images/rainbowbackground.jpg");
	background-position: left center;
	background-size: 100%;
	width:100%-10px;
}

#navul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	opacity:1;
}

#navli {
	float: left;
}

#navli a {
	color:green;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navli a:hover {
	background-color: #5cd65c;
}

#navbarlist {
	float:left;
	display:block;
	text-align:center;
	padding:14px 16px;
}


#maindiv {
	width:80%;
	border:6px solid;
	border-color:#dfdfb6;
	background-color:#ffffee;
	margin-left:10%;
	margin-right:10%;
	background:0.5;
}

#funiframe {
	border:none;
}

h1 {
	font-size:2em;
}

h2 {
	font-size:1.75em;
	color:#22ee99;
}
