#navbar {
	color:#66ff99;
	border:5px solid;
	border-color:#dfdfb6;
	background-image: url("images/rainbowbackground.jpg");
	background-position: left center;
	top:0;
	width:100%-10px;
}

#standardweb {
	font-family:verdana;
	background-color:#ffffcc;
}

#maindiv {
	width:80%;
	border:6px solid;
	border-color:#dfdfb6;
	background-color:#ffffee;
	margin-left:10%;
	margin-right:10%;
}

h2 {
	color:#22ee99;
}
